/* Importando a fonte Pacifico do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Alinhar elementos verticalmente */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #333;
    text-align: center;
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Fonte para labels */
}

select, input[type="number"], input[type="submit"] {
    margin-top: 5px;
    padding: 8px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Fonte para seletores e botão */
}

input[type="submit"] {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilizando a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Espaço acima da tabela */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

input[type="number"], select {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}