<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha da Sala</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/png"> <!-- Adiciona o favicon -->
</head>
<body>
    <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='logo.svg') }}" alt="Logo" class="logo">
    </a>
    <h1>Você escolheu:</h1>
    <p>Escritório: {{ office }}</p>
    <p>Sala: {{ room }}</p>

    <!-- Formulário com a tabela -->
    <form action="/submit_form" method="POST">
        <input type="hidden" name="office" value="{{ office }}">
        <input type="hidden" name="room" value="{{ room }}">
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Para quantas pessoas?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Café expresso sem açúcar</td>
                    <td>
                        <input type="number" id="cafe_expresso_qty1" name="Café expresso sem açucar" min="0" max="1000" value="0">
                    </td>
                </tr>
                <tr>
                    <td>Café expresso com açúcar</td>
                    <td>
                        <input type="number" id="cafe_expresso_qty2" name="Café expresso com açucar" min="0" max="1000" value="0">
                    </td>
                </tr>
                <tr>
                    <td>Café expresso com adoçante</td>
                    <td>
                        <input type="number" id="cafe_expresso_qty3" name="Café expresso com adoçante" min="0" max="1000" value="0">
                    </td>
                </tr>                
                <tr>
                    <td>Café tradicional sem açúcar</td>
                    <td>
                        <input type="number" id="cafe_tradicional_qty" name="Café tradicional sem açucar" min="0" max="1000" value="0">
                    </td>
                </tr>
                <tr>
                    <td>Café tradicional com açúcar</td>
                    <td>
                        <input type="number" id="cafe_tradicional_qty1" name="Café tradicional com açucar" min="0" max="1000" value="0">
                    </td>
                </tr>
                <tr>
                    <td>Café tradicional com adoçante</td>
                    <td>
                        <input type="number" id="cafe_tradicional_qty2" name="Café tradicional com adoçante" min="0" max="1000" value="0">
                    </td>
                </tr>
                <tr>
                    <td>Copo</td>
                    <td>
                        <input type="number" name="Copo" min="0" max="1000" value="0">
                    </td>
                </tr>
                <tr>
                    <td>Jarra de água</td>
                    <td>
                        <input type="number" name="Jarra de água" min="0" max="1000" value="0">
                    </td>
                </tr>
                <tr>
                    <td>Limpeza da Sala</td>
                    <td>
                        <select name="Limpeza da Sala">
                            <option value="Não">Não</option>                            
                            <option value="Sim">Sim</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Enviar">
    </form>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>